body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul, aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul { 
  background: linear-gradient(to right, rgb(228, 228, 22), teal);
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 10px;
  text-decoration: none;
}

aside li a{
  display: block;
  color: black;
  text-decoration: none;
}
nav li {
  float: right;
}
.nav-logo{
  float: left;
}
.logo{ 
  display: block;
  color: teal;
  text-align: center;
  padding: 22px;
  font-size: 30px;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nyellow{
  color: goldenrod;
}
.bordered{
  border: 3px solid teal;
  font-size: 13px;
  box-sizing: border-box;
  position: relative;
  top: -5px;
  margin-left: 5px;
  padding: 0 2px;
}
.public-text{
  position: relative;
  top: -7px;
  margin-left: 10px;
  font-size: 14px;
}
.nav-item{
  font-size: 10px;
}
.sidenav{
  width: 19vw;
  box-sizing: border-box;
}
body{
  background-color: #f4f4f4;
}
.outer-body{
  padding: 5% 10%;
  background-color: #f4f4f4;
}
.asideul{
  font-size: 14px;
  color: grey !important;
  line-height: 30px;
  position: fixed;
}
aside ul li a i {
  font-size: 15px !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
aside ul li a span {
  margin-left: 10px;
  position: relative;
  color: rgba(0, 0, 0, 0.9);
  top: -2px;
}
.main{
  margin-left: 21vw;
  min-height: 400px;
  max-height: auto;
  background-color: white;
  width: 60%;
}
.tabs{
  display: flex;
  background-color: rgb(219, 219, 219);
}
.tab{
  width: 50%;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}
.selected{
  background-color: white;
}
.maintab, .additionaltab{
  width: 69%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.input-field{
  height: 30px;
  margin-bottom: 20px;
  outline: none;
}
.input-label{
  font-size: 15px;
  margin-bottom: 5px;
  width: 175px;
  margin: 5px auto;
  text-align: left;
  color: teal;
}
.submitbtn{
  width: 100px;
  height: 30px;
  background-color: teal;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
}
.countryselect{
  width: 173px;
  margin-bottom: 20px;
  outline: none;
}
.error{
  color: red;
  margin-bottom: 10px;
}
.success{
  color: rgb(45, 199, 45);
}
.pError{
  border: 1px solid red;
}

@media (max-width: 600px) {
  .outer-body{
    padding: 10px;
  }
  .main{
    width: 70%;
    margin-left: 30%;
  }
  .tab{
    font-size: 12px;
  }
  .material-icons{
    font-size: 15px !important;
  }
  .public-text{
    font-size: 13px;
    position: relative;
    top: -2px;
  }
}

@media (max-width: 400px) {
  .asideul{
    display: none;
  }
  .main{
    width: 100%;
    margin-left: 0%;
  }
}